
header {
    background-color: #1A224B;
}

#blogs-container {
    padding-top: 8vh;
    height: 70vh;
}

.blog {
    background-color: #ffbd59;
    margin: 2em 0;
    display: flex;
    color: #1a224b
}

.blog a {
    color: #1a224b;
    text-decoration: none
}

.blog-image-container {
    width: 10%
}

.blogicon {
    font-size: 8em;
    padding: 10px 20px;
    margin: 0 auto
}

.blog-content {
    margin-left: 2em
}