header {
    background-color: #1A224B;
}

#privpolicy-container {
    padding-top: 8vh;
    height: 72vh;
    text-align: center;
}

.maintainance {
    padding-top: 100px;
    max-height: 70%;
    max-width: 100%;
}