/* General CSS */
html,
body {
    margin: 0;
    padding: 0
}

section {
    width: 60%;
    padding: 0 20%
}

h1 {
    font-size: 3em
}

h2 {
    font-size: 2em
}

p {
    font-size: 1.15em
}

/* Header / Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 2em 15%;
    text-transform: uppercase;
    color: black;
    position: fixed; 
    z-index: 1;
}

nav {
    
    background-color: pink
}

nav ul {
    display: flex;
    list-style: none
}

nav ul li {
    padding-left: 2em
}

nav ul li a {
    text-decoration: none;
    cursor: pointer
}

nav ul li a::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width .4s
}

nav ul li a:hover::after {
    width: 100%;
    transition: .4s;
}

/* Hero */
.hero {
    background: radial-gradient(lightblue, blue);
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0; 
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent; 
    border: 6px solid rgba(255, 255, 255, 0.8)
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite
}

@keyframes animate {
    0%{
        transform: scale(0) translate(0) rotate(0);
        opacity: 0.8;
    }
    100%{
        transform: scale(1.0) translate(-90px) rotate(360deg);
        opacity: 0;
    }
}




