/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

/* General CSS */
html,
body {
    margin: 0;
    padding: 0;
    font-family: Saira, sans-serif
}

section {
    width: 60%;
    padding: 0 20%
}

h1 {
    font-size: 3em
}

h2 {
    font-size: 2em
}

p {
    font-size: 1.15em
}

/* Header / Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 2em 15%;
    text-transform: uppercase;
    color: #fff;
    position: fixed; 
    z-index: 1;
    top: 0 
}

nav ul {
    display: flex;
    list-style: none
}

nav ul li {
    padding-left: 2em
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

nav ul li a::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffbd59;
    transition: width .4s
}

nav ul li a:hover::after {
    width: 100%;
    transition: .4s;
}

/* Hero */
#hero-wrapper {
    position: relative;
    height: 100vh;
}

#particles-js {
    position: relative;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 60%;
    background: #1A224B;
}

.logo-image {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 97%;
    left: 50%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: 0; 
    font-size: 4em;
    color: #f4f4f4
}

.brand {
    color: #ffbd59
}

#hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    height: 40%;
    width: 60%;
    padding: 0 20%;
    margin: 0;
}

#hero-text p {
    padding: 0;
    margin: 0;
    font-size: 1.25em;
    color: #1A224B;
}

/* Services */
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center
}


