/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

/* General CSS */
html,
body {
    margin: 0;
    padding: 0;
    font-family: Saira, sans-serif;
    background-color: #f4f4f4
}

section {
    width: 60%;
    padding: 0 20%;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1 {
    font-size: 3em
}

h2 {
    font-size: 2em
}

p {
    font-size: 1.15em
}

.main-color {
    color: #ffbd59;
    margin: 0;
    padding: 0
}

.sec-color {
    color: #1A224B;
    margin: 0;
    padding: 0
}

.subheader {
    font-size: 3em;
    margin: 0;
    padding: 0
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.center {
    text-align: center
}

.line {
    width: 60%;
    margin: 0 20%;
    height: 2px;
    background-color: #1A224B;
    border-radius: 5px 
}

/* Header ---------------------------------- */
header {
    width: 60%;
    padding: 0 20%;
    position: fixed;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    text-transform: uppercase;
    color: #f4f4f4;
}

.logo { 
    color: #ffbd59
}

.logo a {
    text-decoration: none;
    color: inherit
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
    padding-left: 2em;
}

.nav-links a {
    color: #f4f4f4;
    letter-spacing: 3px;
    font-size: 1em;
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #f4f4f4;
    margin: 5px;
    border-radius: 4px;
    transition: all 1s ease;
}

.nav-links a::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffbd59;
    transition: width .4s
}

.nav-links a:hover::after {
    width: 100%;
    transition: .4s;
}

.scrolled {
    min-height: 6vh;
    /* background-color: rgba(28, 117, 188, 0.9); */
    background-color: #1A224B;
    opacity: 0.9;
    color: #fff;
    transition: .5s ease
}

/*Navbar Hamburger Menu*/
@media screen and (max-width:768px) {
    body,
    html {
        margin: 0;
        padding: 0;
        overflow-x: hidden
    }
    
    .nav-links {
        position: absolute;
        margin: 0;
        padding: 0;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #1A224B;
        opacity: 0.9;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        overflow-x: hidden;
    }

    .nav-links li {
        padding: 0;
        opacity: 0;
    }

    .nav-links a::after {
        display: none
    }

    .burger {
        display: block;
    }
}
.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.burger-toggle .top-line {
    transform: rotate(-45deg) translate(-5px,6px);
}

.burger-toggle .mid-line {
    opacity: 0;
}

.burger-toggle .btm-line {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Hero ---------------------------------- */
#hero-wrapper {
    position: relative;
    height: 100vh;
}

#particles-js {
    position: relative;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 60%;
    background: #1A224B;
}

.logo-image {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 97%;
    left: 50%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: 0; 
    font-size: 4em;
    color: #f4f4f4
}

#hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    height: 40%;
    width: 60%;
    padding: 0 20%;
    margin: 0;
}

#hero-text p {
    padding: 0;
    margin: 0;
    margin-top: 85px;
    font-size: 1.25em;
    color: #1A224B;
}

#hero-text a {
    color: #1A224B;
    text-decoration: none;
    border-bottom: 1px solid #1A224B
}

#hero-text a:hover {
    color: #ffbd59;
    border-bottom: 1px solid #ffbd59;
    font-weight: bold
}

/* Services ---------------------------------- */
#services {
    background-color: #f4f4f4;
    /* background-color: #1A224B; */
    color: #1A224B
} 

.services-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-top: 60px;
}

.services-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 65;
    padding: 0 17.5%;
    padding-top: 80px;
}

#service-select h3 {
    text-transform: uppercase;
   
}

#service-select p {
    margin: 10px 0
}

/* Steps ---------------------------------- */
#steps {
    background-color: #ffbd59;
    color: #1a224b
}

.w-color {
    color: #f4f4f4
}

.step1,
.step2,
.step3 {
    width: 80%
}

.step2 {
    margin-left: 20%
}

.step1 p,
.step2 p,
.step3 p {
    padding: 0 5%
}


/* Partners ---------------------------------- */
#partners {
    background-color: #ffbd59;
    display: flex
}

.partner {
    height: 180px;
    width: 180px;
    border-radius: 50%
}

/* Contact ---------------------------------- */
#contact {
    background-color: #f4f4f4
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

input,
textarea {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #1A224B;
    color: #1A224B;
    margin-top: 30px;
    font-size: 1.2em;
    font-family: Saira, sans-serif
}

textarea {
    resize: none
}

::-webkit-input-placeholder {
    color: #ffbd59
}

:-ms-input-placeholder {
    color: #ffbd59
}

::-moz-placeholder {
    color: #ffbd59
}

:-moz-placeholder {
    color: #ffbd59
}

button {
    height: 60px;
    width: 20%;
    margin-left: 80%; 
    margin-top: 30px;
    background-color: #ffbd59;
    cursor: pointer;
    color: #1A224B;
    font-size: 1.2em;
    font-family: Saira, sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none
}

/* Footer ---------------------------------- */
footer {
    background-color: #1A224B;
    color: #f4f4f4
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.footer-right {
    text-align: right
}

.iconbtn {
    width: 40px;
    height: 40px;
    text-decoration: none;
    margin-left: 30px;
    position: relative;
    font-size: 30px;
    color: #1A224B
}

.iconbtn::before {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.iconbtn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 0;
    background-color: #f4f4f4;
    transition: 0.2s
}

.iconbtn:hover::after {
    transform: scale(1.3);
    opacity: 0;
}

/* YouTube Red */
.fa-youtube:hover {
    color: #c4302b
}

/* Facebook Blue */
.fa-facebook:hover {
    color: #3b5998
}